<html>
<head>
	<link rel="stylesheet" href="{{ asset("bundles/myshopdefault/main.css") }}" />
</head>
<body>
    <table border="1" style="width: 100%">
        <tr>
            <td valign="top" style="width: 400px">
                <ul>
                    <li><a href="{{ path("myshop.main_page") }}">Главная страница</a></li>
                   <li><a href="{{ path("myshop.category_list") }}">Категории товаров</a></li>  
                    <li><a href="{{ path("myshop.product_list") }}">Весь список товаров</a></li> 
                </ul>
            </td>
            <td valign="top">
                {% block body %}
                {% endblock %}
            </td>
        </tr>
    </table>
</body>
</html>