{% extends "@MyShopDefault/Default/layout.html.twig" %}



{% block body %}
    <h2>Описание товара</h2>
    Модель: <b>{{ product.getModel() }}</b> <br/>
    Цена: {{ product.getPrice() }}<br />
    {{ product.getDescription() }}<br />
    Дата добавления: {{ product.getDateCreatedAt().format(" H:i:s d.m.Y") }}
{% endblock %}


